.header {
  padding: 92px 50px 92px 50px;
  display: grid;
  grid-template-columns: 605px 1fr 240px;
  grid-template-areas: "menu logo address";
  align-items: center;
  }

.header__menu {
  grid-area: menu;
}

.header__links-list {
  display: flex;
  column-gap: 32px;
  list-style: circle;
}

.header__links-list-item {
  font-family: 'Raleway';
  font-size: 18px;
  font-weight: 400;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-underline-offset: 4px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  grid-area: logo;
  width: 130.9px;
}

.header__logo-image {
  max-width: 100%;

}

.address {
  font-family: 'Raleway';
  grid-area: address;
  white-space: nowrap;
  font-style: normal;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
  font-size: 18px;
  line-height: 1.35;
  font-weight: 400;
}

.cover {
  height: 757px;
  background-image: url(../images/cover.jpg);
  background-position: bottom -22px right 0;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
}

.cover__title {
  font-family: 'Raleway';
  text-transform: uppercase;
  font-size: 100px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.aligned-text {
  padding-left: 50px;
  padding-top: 165px;
  padding-right: 50px;
  line-height: 1.15;
  letter-spacing: 30px;
}

.aligned-text_center {
  align-self: center;
  padding-left: 110px;
  padding-right: 110px;
  padding-top: 0;
  line-height: 1;
}

.aligned-text_right {
  align-self: end;
  padding-right: 20px;
  padding-top: 0;
  line-height: 1;
  letter-spacing: 60px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 30px;
}

.cover__description {
  margin: 136px 50px 50px 418px;
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 22px;
  line-height: 1.27;
  text-transform: uppercase;
  word-spacing: 18px;
  }

.bet-button {
  font-family: 'Raleway';
  background: none;
  color: #fff;
  border: 1px solid #fff;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  width: 257px;
  height: 52px;
  cursor: pointer;
  margin-bottom: 3px;
} 



.lots {
  margin: 180px 50px;
  display: flex;
  flex-direction: column;
}

.lots__heading {
  font-size: 40px;
  text-transform: uppercase;
  margin-left: 40px;
  margin-bottom: 27px;
  display: flex;
}
.lots__card-list {
  list-style: none;
  display: flex;
  gap: 25px;
  flex-grow: 1;
  flex-wrap: wrap;
}

.card-link {
  text-decoration: none;
}

.card {
  color: #fff;
  width: 430px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.card__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card__title {
  font-family: 'Raleway';
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
  text-transform: uppercase;
  padding-top: 50px;
  padding-left: 40px;
  padding-right: 40px;
}

.card__text {
  font-family: 'Raleway';
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 50px;
  padding-left: 40px;
  padding-right: 40px;
}

.lots__look-more-link {
  font-size: 20px;
  font-weight: 400;
  margin: 30px 1108px 2px 40px;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-line: 1px;
}

.about {
  display: grid;
  margin: 180px 50px 183px 50px;
  grid-template-columns: 430px, 1fr;
  grid-template-areas: 
    "logo text";
  column-gap: 25px;
}

.about__column {
  grid-area: "text";
  margin-top: 100px;
}

.about__logo {
  grid-area: logo;
  background-color: black;
	border-radius: 50%;
  background-size: contain;
  height: 240px;
  margin-left: 95px;
  margin-right: 95px;
}

.about__logo-image {
  height: 240px;
  padding: 63px 46px 63px 46px;
}

.about__title {
  font-family: 'Raleway';
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 47px;
  margin-bottom: 101px;
}

.about__text {
  font-family: 'Raleway';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 50px 90px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
}

.footer__menu-link {
  font-size: 18px;
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  list-style: none;
  max-width: 240px;
  max-height: 48px;
  display: flex;
  justify-content: space-between;
}

.footer__social-list-item {
  border-radius: 30px;
}

.footer__social-list-item:hover {
  border-radius: 30px;
  background-color: rgb(173, 92, 240);
}

.footer__social-icon {
  height: 100%;
}
